/**
  * カード関連
  */

$diagonalWidth = 80vw
$diagonalWidthMobile = 100vh
$diagonalCol = 5
$diagonalColMobile = 4
$diagonalCardMargin = 1vw
$diagonalCardMarginMobile = 2vw
$diagonalCardWidth = (($diagonalWidth / $diagonalCol) - $diagonalCardMargin * 2)
$diagonalCardWidthMobile = (($diagonalWidthMobile / $diagonalColMobile) - $diagonalCardMarginMobile * 2)
$diagonalCardBlank = $diagonalWidth / $diagonalCol
$diagonalCardBlankMobile = $diagonalWidthMobile / $diagonalColMobile
